<app-task-form *ngIf="showModal" (onClose)="showModal=false"></app-task-form>
<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Task List</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">
      <button class="button" (click)="addTask()">Add Task</button>
    </div>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          
          <div class="column-title">
            {{ column.name }}
          </div>

          <div class="tasks-container"
          cdkDropList
          id="{{column.status}}"
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let item of column.tasks" cdkDragLockAxis = "x" cdkDrag [cdkDragData]="item">
              {{ item.title }}
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>